body{
    background-color: rgb(25, 10, 40);
}
.spinner{
    height: 70px;
    width: 70px;
    border: 7px solid;
    border-radius: 50%;
    border-color:rgb(231, 219, 219) rgb(24, 92, 9) rgb(225, 240, 228) rgb(212, 148, 71);
    animation: rotate 1.5s linear infinite;
    position: absolute;
    right: 47%;
    top: 47%;
   
    }
 
    @keyframes rotate{
    to {transform: rotate(365deg);}
    }
    